@import url("./footer.css");
@import url("./nav.css");
@import url("./nav-media.css");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --main-color: black;
  --secondary-color: rgb(255 67 146);
  --background: rgb(19, 19, 19);
  --padding: 60px;
  --margin: 60px;
}
body {
  font-family: "Nunito Sans", sans-serif;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
header {
  background-color: var(--background);
  padding-top: 15px;
  padding-bottom: 15px;
}
header a,
header i {
  color: white;
  transition: 0.5s;
  font-size: 17px;
}
header a:hover,
header .container i:hover {
  color: var(--secondary-color);
}
header .container i {
  display: inline-block;
  margin-right: 5px;
}
.info {
  background-color: var(--background);
  width: 100%;
}
.info .container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.info .title {
  text-align: center;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  color: white;
  font-size: 30px;
  font-weight: 800;
  text-shadow: 3px 1px 8px;
}
.info .text {
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  line-height: 1.8;
  font-size: 18px;
}
.info .text span {
  color: var(--secondary-color);
}
.info .text .social {
  width: 100%;
  margin-top: 15px;
}
.info .text .social ul {
  display: flex;
}
.info .text .social ul li {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  background-color: black;
  border-radius: 50%;
  border: 1px solid var(--secondary-color);
  position: relative;
  transition: 0.5s;
}
.info .text .social ul li:hover {
  box-shadow: 0 0 20px var(--secondary-color);
}
.info .text .social ul li a i {
  color: var(--secondary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.info .avatar img {
  width: 300px;
  border-radius: 50%;
  transition: 0.5s;
}
.info .avatar img:hover {
  opacity: 0.5;
}

@media (max-width: 767px) {
  header a,
  header i {
    font-size: 12px;
  }
  .info .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .info .text {
    width: 100%;
  }
}
/* Small Screens */

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
  }
  .info .text {
    font-size: 16px;
  }
  .info .avatar img {
    width: 250px;
  }
  .info .text .social ul li {
    width: 45px;
    height: 45px;
  }
  .info .text .social ul li a i {
    font-size: 16px;
  }
}

/* Medium Screens */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large Screens */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
